  <nav>
    <div class="nav-wrapper">
      <a href="/mascotas" class="brand-logo center">Mascotas cool</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/mascotas/nueva-mascota">Nueva mascota</a></li>
        <li><a href="/usuarios/logout">Salir <i class="small material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>