@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

header, h2 {
    color: cornflowerblue;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

.fondo_amarillo {
    background-color: goldenrod;
}

#git {
    color: indigo;
}

strong:hover {
    color:lightseagreen;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
    color: #e81c4f;
}

body {
    color: #566b78;
  }
  
  code,
  pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
  }
  
  pre {
    border-left: 2px solid #69c;
  }