<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
  <div class="container">
    <h1><%= titulo %></h1>

    <% if (error !== false) { %>
        <span class="red"><%- error %>  </span>    
    <% } %>  
    <form action="login" method="POST">

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

      <label for="username">Nombre de usuario</label>
      <input type="text" name="username" required>

      <label for="password">Password</label>
      <input type="password" name="password" required >
      
      <input type="submit" name="enviar" value="Entrar">
    </form>
  </div>
<%- include('includes/foot.ejs') %>    