<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
  <div class="container">
    <h1>Nueva mascota</h1>
    <form action="nueva-mascota" method="POST" enctype="multipart/form-data">

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" required>
      
      <label for="descripcion">Descripción</label>
      <input type="text" name="descripcion">

      <div class="file-field input-field">
        <div class="btn">
          <span>Imagen</span>
          <input type="file" name="imagen">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" >
        </div>
      </div>

      <br>
      
      <input type="submit" name="enviar" value="adoptar" class="btn">
    </form>
  </div>
<%- include('includes/foot.ejs') %>    